*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #f2eeeeba;
}

.logo{
    height: 50px;
}
.domain{
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
}
 
.carousel-inner {
    max-height: 800px;
    img {
      max-height: 800px;
   }
}

.carousel-item .carousel_text {
    position: absolute;
    margin: 0;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.carousel_text{
    font-size: 5vw;
    font-weight: 800;
    color: #3a3737;
    font-family: 'Fira Sans', sans-serif;
}
  
 .carousel-indicators img {
   max-width: 100px;
}

main{
  margin-top: 100px;
}

.container{
    margin-top: 60px;
}

.card_img{
    height: 400px;
   
}

.card-title{
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
}

.card-text{

    font-family: 'Fira Sans', sans-serif;
}

#section_heading{
    text-align: center;
    text-shadow: 2px 1.5px #3a3737;
}

/* Footer */
.social_icon{
    background-color: #5e615f;
}

/* content pages */
.content-box{
    margin-top: 0;
}
.page-title{
    font-size: 5vw;
    text-shadow: 2px 2px rgb(127, 85, 85);
    font-family: 'Fira Sans', sans-serif;
}
.page-content{
    margin-top: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.content_img{
    height: 30vw;
    width: auto;
}
